.modal .overlay~* {
    position: relative;
    box-shadow: none;
    border-radius: 0.2em;
    border: 1px solid #aaa;
    overflow: hidden;
    text-align: left;
    background: #fff;
    margin-bottom: 0.6em;
    padding: 0;
    transition: all 0.3s ease;
}

.modal .overlay~.hidden,
.modal .overlay~ :checked+*,
.modal .overlay:checked+* {
    font-size: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

.modal .overlay~*>* {
    max-width: 100%;
    display: block;
}

.modal .overlay~*>*:last-child {
    margin-bottom: 0;
}

.modal .overlay~* header,
.modal .overlay~* section,
.modal .overlay~*>p {
    padding: 0.6em 0.8em;
}

.modal .overlay~* section {
    padding: 0.6em 0.8em 0;
}

.modal .overlay~* hr {
    border: none;
    height: 1px;
    background-color: #aaa;
}

.modal .overlay~* header {
    font-weight: bold;
    position: relative;
    border-bottom: 1px solid #aaa;
}

.modal .overlay~* header h3 {
    padding: 0;
    margin: 0 2em 0 0;
    line-height: 1;
    display: inline-block;
    vertical-align: text-bottom;
}

.modal .overlay~* header:last-child {
    border-bottom: 0;
}

.modal .overlay~* footer {
    padding: 0.8em;
}

.modal .overlay~* p {
    margin: 0.3em 0;
}

.modal .overlay~* p:first-child {
    margin-top: 0;
}

.modal .overlay~* p:last-child {
    margin-bottom: 0;
}

.modal .overlay~*>p {
    margin: 0;
    padding-right: 2.5em;
}

.modal .overlay~* .close {
    position: absolute;
    top: 0.4em;
    right: 0.3em;
    font-size: 1.2em;
    padding: 0 0.5em;
    cursor: pointer;
    width: auto;
}

.modal .overlay~* .close:hover {
    color: #ff4136;
}

.modal .overlay~* .dangerous {
    background: #ff4136;
    float: right;
}

.modal {
    text-align: center;
}

.modal>input {
    display: none;
}

.modal>input~* {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

.modal .overlay {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    margin: 0;
    border-radius: 0;
    background: rgba(17, 17, 17, 0.2);
    transition: all 0.3s;
    z-index: 100000;
}

.modal .overlay:before,
.modal .overlay:after {
    display: none;
}

.modal .overlay~* {
    border: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0.2, 0.2);
    z-index: 1000000;
    transition: all 0.3s;
}

.modal>input:checked~* {
    display: block;
    opacity: 1;
    max-height: 10000px;
    transition: all 0.3s;
}

.modal>input:checked~.overlay~* {
    max-height: 90%;
    overflow: auto;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1, 1);
    transform: translateX(-50%) translateY(-50%) scale(1, 1);
}

@media (max-width: 60em) {
    .modal .overlay~* {
        min-width: 90%;
    }
}